html
  head
    meta(charset='utf-8')
    title Hej from Jade

  body(onload="onBodyLoad()")
    h2 The Eyevinn multiselector
    include ./multiselector

    script(type='text/javascript' src='./jquery.min.js')
    script(type='text/javascript' src='./underscore-min.js')
    script(type='text/javascript' src='./backbone.js')
    script(type='text/javascript' src='./multiselect.js')
    link(rel="stylesheet" type="text/css" href="./main.css")
  
